.bpl-normal_pricetag_normal {
    width: 5.8cm;
    height: 3.6cm;

    .pricetag_left {
        width: 1.6cm;
        padding-left: 0.24cm;
    }
    .pricetag_right {
        width: 3.68cm;
        text-align: right;
        padding-right: 0.24cm;
    }
    .product_informations {
        font-size: 0.3cm;
    }
    .product_price {
        font-size: 0.5cm;
        height: 0.7cm;
        line-height: 0.7cm;
    }
    .product_labels {
        font-size: 0.15cm;
        height: 0.6cm;
    }
    img.product_label {
        width: 0.4cm;
        height: 0.4cm;
        margin: 0.08cm 0.08cm 0.08cm -0.04cm;
    }
    span.product_label {
        margin: 0.08cm 0.08cm 0.08cm -0.04cm;
    }
}
