.bpl-normal_pricetag {
    border: 1px solid grey;
    background-color: white;

    .pricetag_right {
        overflow: hidden;
    }
    .product_informations {
        font-weight: bold;
        text-align: left;
        overflow: hidden;
    }
    .product_name {
        font-weight: bold;
        overflow: hidden;
    }
    .deposit {
        font-weight: bold;
    }
    .product_price {
        font-weight: bold;
        overflow: hidden;
    }
    .product_price_per_uom_qty,
    .product_price_per_uom_price {
        overflow: hidden;
        word-wrap: normal;
        vertical-align: top;
        text-align: center;
        font-weight: bold;
    }
    .product_labels {
        overflow: hidden;
    }
    .floating_box {
        display: inline-block;
        vertical-align: middle;
    }
}
