# this is only a draft, it never worked.
version: "3"
services:
  odoo:
    build: .
    command: python3 odoo-bin -c odoo.conf
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - ./odoo.conf:/home/odoo/odoo/odoo.conf:Z
      - ./:/home/odoo/obeesdoo:Z
  db:
    image: postgres:10
    environment:
      - POSTGRES_DB=beescoop
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - ./initial-data-load:/docker-entrypoint-initdb.d:Z
    ports:
      - "5432:5432"
