/*
SPDX-FileCopyrightText: 2025 Coop IT Easy SC

SPDX-License-Identifier: AGPL-3.0-or-later
*/

.navbar-nav .nav-link.website-shopbutton {
    background: #fcc101;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.8);
}
