.pos .button.validation {
    height: calc(var(--btn-height-size) * 2);
}

.pos .actionpad .button .fa-user {
    top: 39px;
}

.pos .actionpad .button.set-partner {
    height: calc(var(--btn-height-size) * 2);
}
